*{
    font-family: '標楷體';
}
header{
    width: 1024px;
    height: 65px;
    /* background-color: antiquewhite; */
    margin: auto;
    border: 3px double black;
    display: flex;
    justify-content: center;
}
img{
    height: 100%;
}
.container{
    width: 1024px;
    height: calc(768px - 65px - 20px);
    /* background-color: aqua; */
    margin: auto;
    display:flex;
    border: 3px double black;
    border-top: 0;
}
.container-left{
    width: 215px;
    height: 100%;
    /* background-color: azure; */
}
.menu{
    width: 100%;
    height: calc(100% - 25px);
    /* background-color: bisque; */
    border-bottom: 3px double black;
    text-align: center;
}
.text{
    font-weight: 500;
    font-size: 24px;
    color: #FF00FF;
    text-decoration: underline black;
    text-underline-offset: 5px;
    text-align: center;
}
.club{
    width: 200px;
    height: 35px;
    background-image: url(./images/menu1.png);
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-left: 6px;
    padding-top: 8px;
}
.club:hover{
    background-image: url(./images/menu2.png);
}
.update{
    width: 100%;
    height: 25px;
    /* background-color: black; */
    text-align: center;
    font-size: 16px;
}
.container-right{
    width: calc(100% - 215px);
    height: 100%;
    /* background-color: beige; */
    border-left: 3px double black;
}
.marquee{
    width: 100%;
    height: 29px;
    /* background-color: blanchedalmond; */
    border-bottom: 3px double black;
}
marquee{
    font-size: 24px;
    color: #0000FF;
}
.content{
    width: 100%;
    height: calc(100% - 29px);
    /* background-color: blue; */
}
iframe{
    width: 100%;
    height: calc(100% - 3px);
}
footer{
    width: 1024px;
    height: 20px;
    /* background-color: aquamarine; */
    margin: auto;
    border: 3px double black;
    border-top: 0;
}